
<!DOCTYPE html>
<html lang="sv-SE" ng-app="appAdm1">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../css/unsemantic-grid-responsive-tablet-no-ie7.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../scripts/admController.js"></script>
    <script src="../../scripts/admin1.js"></script>


    <title>Newton administration</title>
</head>
<body class="adminBody" ng-controller="ctrlAdm1">

    <div class="grid-container">

        <header class="grid-100">
            <h1 id="lblNewton">Newton</h1>
            <nav>
                <ul id="menuAdm">
                    <li><a class="btnAdm" ng-click="myFunc()">Registrera</a></li>
                    <li> <a class="btmAdm" href="#views/skapaProv/">Skapa prov</a></li>
                    <li> <a class="btnAdm">Personal</a></li>
                    <li> <a class="btnAdm">Elever</a></li>
                </ul>
            </nav>
        </header>
    </div>




<div ng-view></div>
</body>
</html>