
 <div ng-controller="skapaProvController"></div>


            <section class="skapaProv">
                <p class="pRubrik">   {{message1}} </p>
                <form class="dropprovNamn">
                        <select class="dropDownProv" ng-model="provNamn">
                            <option value="">
                            <option value="sakerhet1">IT-säkerhetsteknik
                            <option value="java1">Java SE
                            <option value="java2">Java EE
                            <option value="krav1">Kravanalys 1
                            <option value="net1">.Net
                        </select>
                </form>

                <p class="pRubrik">Ange provtid (min): <input type="number" ng-model="provtid"></p>
                <br>

                <article class="provFragor">

                    <p class="pFraga">Fråga nr: {{fragaNr+1}} </p>
                    <p class="pRubrik">   {{message2}} </p>


                    <input type="radio" ng-model="frageTyp" value="flerval" checked>Flervalsalternativ<br>
                    <input type="radio" ng-model="frageTyp" value="oppenText"> .Öppen fråga<br>

                    <div ng-switch="frageTyp">
                        <div ng-switch-when="flerval">
                            <p class="pRubrik">   {{message3}} </p>

                        </div>
                        <div ng-switch-when="oppenText">
                            <p class="pRubrik">   {{message4}} </p>
                           <input type="text">
                            </div>






                </div></article>
            </section>



