.adminBody {
    font-family: sans-serif, Verdana;
    word-spacing: 0.5em;
    background-color: white;
}

#lblNewton {
    font-size: 250%;
    font-weight: bold;
    margin-left: 0%;
    padding-left: 45%;
    color: white;
    background-color: #57ae6d;
    width: auto;}

ul#menuAdm   {
    padding: 0;}

ul#menuAdm li  {
    display: inline;}

ul#menuAdm li a {
    background-color: #57ae6d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;}

ul#menuAdm li a:hover {
    background-color: orange;
}



