.adminBody {
    font-family: sans-serif, Verdana;
    word-spacing: 0.2em;
    background-color: white;}

#lblNewton {
    font-size: 250%;
    font-weight: bold;
    margin-left: 0%;
    padding-left: 45%;
    color: white;
    background-color: #030604;
    width: auto;}

ul#menuAdm   {
    padding: 0;
    margin-left: 32%;}

ul#menuAdm li  {
    display: inline;}

ul#menuAdm li a {
    background-color: #030604;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 100%;}

ul#menuAdm li a:hover {
    background-color: orange;}

.pRubrik {
    font-weight: bold;
    margin-left: -40%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    font-size: 100%;
    color: #35c217;}

.dropprovNamn {
    margin-top: -2.5%;
    margin-left: -22%;}

#inputProvtid {
    margin-left: 2.3%;}

.radioA {
    margin-left: -40%;}

.formuleraFraga {
    margin-left: -40%}

.dropFlerval {
    margin-top: -2.5%;
    margin-left: -20%;}

.antalRadio {
    margin-top: 2%;}

.olAntalRadio {
    text-decoration: none;
    margin-left: -40%;}

.pFraga {
font-weight: bold;
margin-left: -40%;
margin-top: 1%;
font-size: 120%;}

.skapaProv {
    margin-left: 32%;
    font-size: 80%;
    margin-top: 2.5%}

.btnAdmin  {
    margin-top: 2%;
    margin-left:-40%;
    border-radius: 2px;
    color: white;
    background-color: #3f7f3f;
    border-color: #b6b6b6;
    border-top-color: #b6b6b6;
    font-weight: bold;}

#btnklar {
    margin-left: 2%;}



