body {
    font-family: sans-serif, Verdana;
}

#pageCenter {
    text-align:center;
}

input, textarea, #tblUser, #tblUser1, #tblUser2{

    margin-top: 10px;
    border-radius: 4px;
    horiz-align: center;
    border: 1px solid;
    border-color: #DF690C;
    background: white;
}

h2 {
    text-align: center;
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 36px;
}
