<!DOCTYPE html >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- css -->
    <link rel="stylesheet" href="../public/css/unsemantic-grid-responsive-tablet.css" type="text/css">
    <link rel="stylesheet" href="../public/css/newtonTemplate.css" type="text/css">
    <link rel="stylesheet" href="../public/css/style-input.css" type="text/css">
    <!-- -->
    <script src="/Controllers/authController.js"></script>

</head>
<body class="grid-container">
<header>
    <div id="logo" class="grid-100 , tablet-grid-100 , mobile-grid-100"> Newton</div>

    <nav></nav>
</header>
<div id="page" class="grid-100 , tablet-grid-100 , mobile-grid-100">
    <div id="pageCenter">
        <div ng-view>
            <form class="form-auth" ng-submit="login()">
                <h2>Login</h2>
                <p class="text-warning">{{error_message}}</p>
                <input type="username" ng-model="user.username" placeholder="Username"  class="form-control" required><br>
                <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required><br>
                <input type="submit" value="Login" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <!-- scripts -->
    <!--  -->
</div>
</body>
</html>