<section class="adminBody" ng-controller="adminCtrl">
    <article class="info">
        <h1>Newton administration</h1>
        <h2> Välkommen Admin! </h2>
        <p> </p>
    </article>
    <div>
    <nav>
        <ul id="menuAdm">
            <li><a href="#"class="btnAdm" >Registrera</a></li>
            <li><a href="#adminCreateTest" class="btnAdm">Skapa prov</a></li>
            <li> <a href="#userRegistration" class="btnAdm">Registrera</a></li>
            <li> <a href="elever" class="btnAdm">Elever</a></li>
        </ul>
    </nav>
    </div>
</section>