<section class="adminBody">
    <article class="info">
        <h1>Newton administration</h1>
        <h2> Välkommen Admin! </h2>
        <br/><br/>
    </article>
    <div>
        <div class="grid-container">

            <header class="adminMenuHeader" class="grid-100">
                <nav>
                    <ul id="menuAdm">
                        <li><a href="#adminCreateTest" class="btnAdm">Skapa prov</a></li>
                        <li> <a href="#userRegistration" class="btnAdm">Registrera användardata</a></li>
                        <li> <a href="#userChangeDetails" class="btnAdm">Ändra användardata</a></li>
                        <li> <a href="elever" class="btnAdm">Elever</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</section>