<section id="info-wrapper" ng-controller="testCtrl">

    <!--Test Info-->
    <div ng-if="testStatus === 'pending'" class="testInfo">
        <h1>Information</h1>
        <h4>Detta provet omfattar programmering 1 </h4>

        <ul id="test-details" ng-controller="userCtrl">
            <li ng-repeat="x in quizData"> typ av test : {{x[$index].type}}</li>
            <li ng-repeat="x in quizData"> antal frågor : {{x[0].questions.length}}</li>
        </ul>
        </article>

        <button>Tillbaka</button>
        <button ng-click="startQuiz(); sortQuestions()">Starta prov</button>
    </div>

    <!--Test View-->
    <div ng-if="testStatus === 'inProgress'" class="test testView">
        <h1>{{testTitle}}</h1>
        <div id="timer">Tid kvar: {{countdown | formatTime | date: timeFormat}}</div>

        <div class="question-box">
            <h3>{{qTitle}}</h3>


            <ul>
                <li ng-repeat="option in options" ng-class-odd="odd" ng-class-even="even">
                    <input type="radio" name="option" ng-model="userAns.answer" ng-value="option"
                           ng-change="addAns()" ng-init="$index==0?(userAns.answer=option):''"/> <label> {{option}} </label>
                </li>
            </ul>


            <div class="buttonGroup">
                <button ng-click=" prevQuestion()"> tillbaka</button>
                <button ng-click="nextQuestion()">Nästa fråga</button>
            </div>
        </div>
    </div>

    <!--Test Overview-->
    <div ng-if="testStatus === 'inactive'" class="test-overview">
        <article>
            <h1>Testöversikt</h1>
            <table>
                <tr ng-repeat="answer in answers">
                    <td>{{answer}}</td>
                </tr>
            </table>

        </article>
        <button ng-click="pushData(answers)">Lämna in</button>
    </div>

</section>
