    <section id="info-wrapper">
        <article class="info">
            <h1>Information</h1>
            <p>Detta provet omfattar programmering 1 ....................................</p>
        </article>

        <ul id="test-details" ng-controller="">
            <li>
                Flervalsfrågor : ja
            </li>
            <li>
                Öppna Frågor : ja
            </li>
            <li>
                rangordningsfrågor : nej
            </li>
            <li>
                envalsfrågor : ja
            </li>
            <li ng-repeat=""> antal frågor : x </li>
            <li>
                tidsbegränsad : ja
            </li>
            <li>
                tid: x
            </li>
        </ul>

        <a href="#/"> Tillbaka </a>
        <a href="#/"> Starta prov </a>
    </section>
