    <section id="info-wrapper">
        <article class="info">
            <h1>Information</h1>
            <p>Detta provet omfattar programmering 1 ....................................</p>
        </article>

        <ul id="test-details" ng-controller="userCtrl">
            <li ng-repeat="x in quizData" > typ av test : {{x[$index].type}}</li>
            <li ng-repeat="x in quizData">{{x[0].questions[$index].question}}</li>
        </ul>

        <a href="#/"> Tillbaka </a>
        <a href="#/"> Starta prov </a>
    </section>
