<section id="info-wrapper">

    <!--Test Info-->
    <div ng-if="testStatus === 'pending'" class="testInfo">
        <h1>Information</h1>
        <h4>Detta provet omfattar programmering 1 ....................................</h4>

        <ul id="test-details" ng-controller="userCtrl">
            <li ng-repeat="x in quizData"> typ av test : {{x[$index].type}}</li>
            <li ng-repeat="x in quizData"> antal frågor : {{x[0].questions[$index].question}}</li>
        </ul>
        </article>

        <button>Tillbaka</button>
        <button ng-click="startQuiz()">Starta prov</button>
    </div>

    <!--Test View-->
    <div ng-if="testStatus === 'inProgress'" class="test testView">
            <h1>{{testTitle}}</h1>
            <div class="question_box">
            <h3>Fraga: {{qTitle}}</h3>


                <ul>
                   <li ng-repeat="option in options" ng-class-odd="odd" ng-class-even="even">
                    <input type="radio" ng-checked="$first" name="Test"/>{{option}}
                   </li>
                </ul>

        <div class="buttonGroup">
        <button ng-click=" prevQuestion()"> tillbaka</button>
        <button ng-click="nextQuestion()">Nästa fråga</button>
        </div>
        </div>
    </div>

    <!--Test Overview-->
    <div ng-if="testStatus === 'inactive'" class="test-overview">
        <article>
            <h1>Testöversikt</h1>
            <table>
                <tr>
                    <td ng-repeat="" ng-class-even="even" ng-class-odd="odd"></td>
                </tr>
            </table>

        </article>

        <button ng-click="">Lämna in</button>


    </div>

</section>
