
<div id="userChange" ng-controller="userSearchCtrl">
    <h1>Hi {{fName}}!</h1>
    <p>You're logged in!!</p>
    <h3>All registered users:</h3>
        <ul>
            <li ng-repeat="user in users">
                {{user._id}} ({{user.username}} {{user.fName}})
                {{user.lName}}
                {{user.password}}
                {{user.role}}

                console.log('halojt')

                - <a href="#" ng-click="gu.deleteUser(user.id)">Delete</a>
                - <a href="#" ng-click="gu.updateUser(user.id)">Update</a>
            </li>
        </ul>

</div>
