
<div id="changeDetailsForm" ng-controller="userRegistryCtrl">

        <div>
            <h2>Sök och ändra användare</h2><br>
            Sök: <input type="text" placeholder="Sök användare" ng-model="searchText" />
            <br /><br />
            <table>
                <thead>
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>Personummer</th>
                    <th>Telefon</th>
                    <th>Klass</th>
                    <th>Behörighet</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>
                        {{user.fName}}</td>
                    <td>{{user.lName}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="listCtrl" ng-app="app">

            <div ng-controller="listCtrl"></div>

        </div>
        <pre>{{ listCtrl | json }}</pre>
</div>