<section class="grid-95 prefix-5 tablet-grid-95 mobile-grid-100 tablet-prefix-5 grid-parent">
    <h1>Användare</h1><br /><Br />
        <div  class=register-details" id="userRegistry" ng-controller="userRegistryCtrl">
            <article class="grid-50 mobile-grid-100 tablet-grid-50">
            <div class="column1of2">
            <h2>Registrera/ändra</h2>
            <form ng-submit="onSubmit(userForm.$valid)"
              method="post"
              action="userRegistration"
              name="userForm"
              novalidate="novalidate">

            <div class="form-group
            {
            'has-error':!userForm.firstName.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.email.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="firstName">Förnamn</label>
                <input name="firstName"
                       type="text"
                       ng-model="firstName"
                       ng-pattern="/^[A-Za-z]{1,15}$/"
                       class="formControl"
                       id="firstName"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.firstName.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med Bokstäver aA-zZ.
                </p>

            </div>

            <div class="form-group">
                <label for="midName">Mellanamn</label>
                <input name="midName"
                       type="text"
                       ng-model="midName"
                       class="formControl"
                       id="midName">
            </div>

            <div class="form-group
            {
            'has-error':!userForm.lastName.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.lastName.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="lastName">Efternamn</label>
                <input name="lastName"
                       type="text"
                       ng-model="lastName"
                       ng-pattern="/^[A-Za-z]{1,15}$/"
                       class="formControl"
                       id="lastName"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.lastName.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med Bokstäver aA-zZ.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.userName.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.userName.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="userName">Användarnamn</label>
                <input name="userName"
                       type="text"
                       class="formControl"
                       id="userName"
                       ng-model="userName"
                       ng-pattern="/^[A-Za-z0-9_]{1,15}$/"
                       ng-minlength="6"
                       ng-pattern-err-type="userName"
                       required="required">

                <p class="help-block" ng-show="userForm.userName.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med minst 6 Bokstäver aA-zZ och siffror 0-9.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.password.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.password.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="password" >Lösenord</label>
                <input name="password"
                       type="password"
                       id="password"
                       class="formControl"
                       ng-model="password"
                       ng-pattern="/^[A-Za-z0-9]{1,15}$/"
                       ng-minlength="10"
                       required="required">

                <p class="help-block" ng-show="userForm.password.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med minst 10 Bokstäver aA-zZ och siffror 0-9.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.ssn.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.ssn.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="ssn" >Personummer</label>
                <input name="ssn"
                       placeholder="YYYYMMDD"
                       type="text"
                       id="ssn"
                       class="formControl"
                       ng-model="ssn"
                       ng-pattern="/^(?:19|20)[0-9]{2}(?:(?:0[1-9]|1[0-2])(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])(?:30))|(?:(?:0[13578]|1[02])-31))$/"
                       required="required">

                <p class="help-block" ng-show="userForm.ssn.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med format YYYY-MM-DD
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.address.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.address.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="address" >Adress</label>
                <input name="address"
                       type="text"
                       id="address"
                       class="formControl"
                       ng-model="address"
                       ng-pattern="/^[A-Za-z0-9]{1,15}$/"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.address.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med Bokstäver aA-zZ och siffror 0-9.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.postalCode.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.postalCode.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="postalCode" >Postnummer</label>
                <input name="postalCode"
                       type="text"
                       id="postalCode"
                       class="formControl"
                       ng-model="postalCode"
                       ng-pattern="/\d{3}\s?\d{2}/"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.postalCode.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med format 12345.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.city.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.city.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="city" >Stad</label>
                <input name="city"
                       type="text"
                       id="city"
                       class="formControl"
                       ng-model="city"
                       ng-pattern="/^[A-Za-z]{1,15}$/"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.city.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med Bokstäver aA-zZ.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.phone.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.phone.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="phone" >Telefon</label>
                <input name="phone"
                       type="text"
                       id="phone"
                       class="formControl"
                       ng-model="phone"
                       ng-pattern="/^[0-9+]{1,15}$"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.phone.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med tecken + och siffror 0-9.
                </p>

            </div>

            <div class="form-group" ng-class="
            {
            'has-error':!userForm.email.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.email.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="email">E-mail</label>
                <input type="email"
                       name="email"
                       ng-model="email"
                       class="formControl"
                       id="email"
                       required="required">

                <p class="help-block" ng-show="userForm.email.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i
                </p>


            </div>

            <div class="form-group
            {
            'has-error':!userForm.class.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.class.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="class">Klass</label>
                <input name="class"
                       type="text"
                       id="class"
                       class="formControl"
                       ng-model="class"
                       ng-pattern="/^[A-Za-z0-9]{1,15}$/"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.class.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med Bokstäver aA-zZ och siffror 0-9.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.registrerad.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.registrerad.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="registrerad">Registrerad Datum</label>
                <input name="registrerad"
                       placeholder="YYYYMMDD"
                       type="text"
                       id="registrerad"
                       class="formControl"
                       ng-model="registrerad"
                       ng-pattern="/^(?:[0-9]{2}(?:(?:0[1-9]|1[0-2])(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])(?:30))|(?:(?:0[13578]|1[02])-31))$/"
                       required="required"><br>

                <p class="help-block" ng-show="userForm.registrerad.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste fyllas i med format YYYYMMDD.
                </p>

            </div>

            <div class="form-group">
                <label for="deregistered">Avregistrerad Datum</label>
                <input name="deregistered"
                       type="text"
                       id="deregistered"
                       class="formControl"
                       ng-model="deregistered">

            <br /><br />
            </div>

            <div class="form-group
            {
            'has-error':!userForm.userAttachment.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.userAttachment.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="userAttachment">Behörighet</label>
                <select name="userAttachment"
                        id="userAttachment"
                        class="formControl"
                        ng-model="userAttachment"
                        required="required">
                    <option value="">Välj Behörighet</option>
                    <option value="student">Student</option>
                    <option value="employee">Anställd</option>
                    <option value="consultants">Konsult</option>
                </select><br>  <br>

                <p class="help-block" ng-show="userAttachment.userAttachment.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste ett val göras.
                </p>

            </div>

            <div class="form-group
            {
            'has-error':!userForm.userStatus.$valid && (!userForm.$pristine || userForm.$submitted),
            'has-error':userForm.userStatus.$valid && (!userForm.$pristine || userForm.$submitted)
            }
            ">
                <label for="userStatus">Status</label>
                <select name="userStatus"
                        id="userStatus"
                        class="formControl"
                        ng-model="userStatus"
                        required="required">
                    <option value="">Välj Status</option>
                    <option value="active">Aktiv</option>
                    <option value="onHold">Paus</option>
                    <option value="deregistered">Avregistrerad</option>
                </select><br>  <br>

                <p class="help-block" ng-show="userStatus.deregistered.$error.required && (!userForm.$pristine || userForm.$submitted)">
                    Detta fält måste ett val göras.
                </p>

            </div>

        <div class="form-group">
            <button ng-click="reset()">
                    RESET
            </button>

            <button
            input class="btnSubmit" type="submit" ng-disabled="userForm.$invalid">Spara</input>
            </button>
            <input class="btnSubmit"
                    type="submit" ng-disabled='userForm.$invalid'>Spara
            </input>

            <button ng-click="cancel()">
                    CANCEL
            </button>
            <a href="adminMenu.html" alt="Tillbaka">&laquo; Tillbaka</a>
        </div>

            <pre>{{ userForm | json }}</pre>

                </form>
            </div>
        </article>

        <article class="grid-50 mobile-grid-100 tablet-grid-50">
            <div class="column2of2">
                <h2>Sök</h2><br>
                Sök: <input type="text" placeholder="Sök användare" ng-model="searchText" />
                <br /><br />
                <table>
                    <thead>
                        <tr>
                            <th>Förnamn</th>
                            <th>Efternamn</th>
                            <th>Personummer</th>
                            <th>Telefon</th>
                            <th>Klass</th>
                            <th>Behörighet</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>
                                {{user.fName}}</td>
                            <td>{{user.lName}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="listCtrl" ng-app="app">

                <div ng-controller="listCtrl"></div>

            </div>
            <pre>{{ listCtrl | json }}</pre>
        </article>
    </div>
</section>
